
.body-container{
    padding:1em;
}

.search-container{
    display:grid;
    grid-template-columns: 7fr 1fr;
    grid-gap: 1em;
}



.movieList{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1em;
    grid-auto-rows: 1fr;
    transition:0.5s;
}

.movieList > div{
    cursor: pointer;
}

.movieList > div > div{
  
}

.movieList > div > div:hover{
    
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:1em;
    
    
}

.wrapper .nested{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.wrapper .nested > div{
    background:#aaa
}

.wrapper > div {
    background:#eee;
    padding:1em;
}

@media only screen and (max-width:540px) {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:1em;  
    }
}