.header-outer-container{  
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
    box-shadow: 0 6px 20px -4px rgba(35, 41, 51, 0.1);
    
    .header-container {
        padding-left: 1.25em;
        padding-right:1.25em;
        display:flex;
        height:60px;
        justify-content: space-around;
        
        .left-header{
            flex:none;
           display:flex;
          

           .header-logo{
               align-self: center;

           }
        }

        .right-header{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            
        }
    }
}